<div class="estimate-contents">
  <div class="estimateWrapper">
    <ul>
      <li>
        <h3>機械学習を活用した予防保全最適化ソリューション</h3>
        <div class="estimatePartsWrapper">
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/iot-hub/" target="_blank" class="ext">Azure IoT Hub</a></div>
            <img src="assets/images/icon_iot-hub.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 153,000 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/event-hubs/" target="_blank" class="ext">Event Hubs</a></div>
            <img src="assets/images/icon_event-hubs.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 14,894 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/stream-analytics/" target="_blank" class="ext">Stream Analytics</a></div>
            <img src="assets/images/icon_stream-analytics.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 2,397 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/machine-learning/" target="_blank" class="ext">Machine Learning</a></div>
            <img src="assets/images/icon_machine-learning.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 10,200 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/app-service/" target="_blank" class="ext">App Service</a></div>
            <img src="assets/images/icon_app-service.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 17,910 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/sql-database/" target="_blank" class="ext">SQL Database</a></div>
            <img src="assets/images/icon_sql.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 6,921 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/storage/" target="_blank" class="ext">Storage</a></div>
            <img src="assets/images/icon_storage.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 706 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/application-insights/" target="_blank" class="ext">Application Insights</a></div>
            <img src="assets/images/icon_application.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 7,650 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/hockeyapp/" target="_blank" class="ext">HockeyApp</a></div>
            <img src="assets/images/icon_hockey.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 6,120 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/virtual-machines/" target="_blank" class="ext">Virtual Machines</a></div>
            <img src="assets/images/icon_virtual.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 38,096 円 / 月</div>
          </div>
          <div class="estimateRightBox1">
            <p class="estimateDLHead">各サービスの選択プラン詳細はこちら。</p>
            <p class="estimateDL"><a href="assets/files/Quote_OptimizeYourOperations.xlsx">見積結果をダウンロード<br>(Excel 形式 / 77KB)</a></p>
            <div class="estimateTotal">合計：&yen; 288,493 円 / 月</div>
          </div>
        </div>
      </li>
      <li>
        <h3>IoT型センサー活用ソリューション</h3>
        <div class="estimatePartsWrapper">
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/iot-hub/" target="_blank" class="ext">Azure IoT Hub</a></div>
            <img src="assets/images/icon_iot-hub.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 153,000 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/event-hubs/" target="_blank" class="ext">Event Hubs</a></div>
            <img src="assets/images/icon_event-hubs.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 27,511 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/stream-analytics/" target="_blank" class="ext">Stream Analytics</a></div>
            <img src="assets/images/icon_stream-analytics.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 2,441 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/machine-learning/" target="_blank" class="ext">Machine Learning</a></div>
            <img src="assets/images/icon_machine-learning.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 10,200 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/app-service/" target="_blank" class="ext">App Service</a></div>
            <img src="assets/images/icon_app-service.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 17,910 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/sql-database/" target="_blank" class="ext">SQL Database</a></div>
            <img src="assets/images/icon_sql.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 6,921 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/storage/" target="_blank" class="ext">Storage</a></div>
            <img src="assets/images/icon_storage.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 1,411 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/application-insights/" target="_blank" class="ext">Application Insights</a></div>
            <img src="assets/images/icon_application.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 7,650 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/hockeyapp/" target="_blank" class="ext">HockeyApp</a></div>
            <img src="assets/images/icon_hockey.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 6,120 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/virtual-machines/" target="_blank" class="ext">Virtual Machines</a></div>
            <img src="assets/images/icon_virtual.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 38,096 円 / 月</div>
          </div>
          <div class="estimateRightBox1">
            <p class="estimateDLHead">各サービスの選択プラン詳細はこちら。</p>
            <p class="estimateDL"><a href="assets/files/Quote_TransformYourProducts.xlsx">見積結果をダウンロード<br>(Excel 形式 / 77KB)</a></p>
            <div class="estimateTotal">合計：&yen; 301,859 円 / 月</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
