<ul class="security-list">
  <li class="security-list__item">
    <img src="//azurecomcdn.azureedge.net/cvt-4d6bb1fa03458448b119571df50ff9278225802e1adb467b09ab38cbc269717a/images/page/support/trust-center/iso-iec.png" alt="ISO (国際標準化機構) および IEC (国際電気標準会議)">
  </li>
  <li class="security-list__item">
    <img src="//azurecomcdn.azureedge.net/cvt-1b75281607bff3abce04fca25d4b63ed25c92c4c54ebf0744f20ee11a15385c3/images/page/support/trust-center/cloud-security-alliance.png" alt="Cloud Security Alliance">
  </li>
  <li class="security-list__item">
    <img src="//azurecomcdn.azureedge.net/cvt-85e499d37ce2c07ff0e9528f9faf6736ebac695580ace9f9e2f8fb965df77628/images/page/support/trust-center/itar.png" alt="国際武器取引規則">
  </li>
  <li class="security-list__item">
    <img src="//azurecomcdn.azureedge.net/cvt-5aec6825c532f5e4a0174284d473c5f6ed6c1f06e7876e3e7d7cc023d35921c1/images/page/support/trust-center/criminal-justice-information-systems.png" alt="刑事裁判情報システム">
  </li>
  <li class="security-list__item">
    <img src="//azurecomcdn.azureedge.net/cvt-945e2a6c416a2152ed81974657029d5d8bafc85400ac231d3419627d6a604008/images/page/support/trust-center/hipaa.png" alt="HIPAA">
  </li>
  <li class="security-list__item">
    <img src="//azurecomcdn.azureedge.net/cvt-248ffa6957761420e74eb7a5f45e778009d85a96b34bbef5b7a0c334d31bbf97/images/page/support/trust-center/internal-revenue-service.png" alt="米国国税庁">
  </li>
  <li class="security-list__item">
</ul>
