<div class="solution-list">
<div class="solution-list__item solution-item">
<div class="solution-item__head">
<p class="icon"><svg style="display:none; visibility:hidden;"><defs><symbol id="app-service" viewBox="0 0 50 50">
<path fill="#A0A1A2" d="M20.1,46.5H3.5V30h3.4c-0.4-1-0.6-2.1-0.6-3.3c0,0,0-0.1,0-0.2H0V50h23.6V36h-3.5V46.5z"/>
<path fill="#A0A1A2" d="M43.5,30h3v16.6H29.9V36.1h-3.5V50H50V26.5h-7.4c0.5,1,0.9,2,0.9,3.3C43.5,29.8,43.5,29.9,43.5,30z"/>
<path fill="#A0A1A2" d="M3.5,20V3.5h16.6v9.6c1-0.8,2.3-1.3,3.5-1.6V0H0v23.5h6.8C7.3,22.3,8,21,9,20.1L3.5,20L3.5,20z"/>
<path fill="#A0A1A2" d="M29.9,11.1V3.5h16.6v16.6h-7.3c0.3,1,0.5,2.2,0.5,3.4c0,0,0,0.1,0,0.1H50V0H26.4v10.9c0.3,0,0.5-0.1,0.8-0.1 C28.1,10.9,29,10.9,29.9,11.1z"/>
<path fill="#59B4D9" d="M40.8,29.7c0-2.1-1.7-3.7-3.7-3.7c-0.2,0-0.3,0-0.5,0c0.2-0.8,0.4-1.7,0.4-2.6c0-5.5-4.4-9.9-9.9-9.9 c-4.3,0-8,2.8-9.3,6.8c-0.7-0.2-1.4-0.4-2.2-0.4c-3.7,0-6.7,3-6.7,6.8c0,3.8,3,6.8,6.7,6.8c0,0,0,0,0,0v0h21.8l0,0 C39.3,33.3,40.8,31.7,40.8,29.7"/>
<path opacity="0.2" fill="#FFFFFF" d="M19.2,33.5c-0.9-0.9-1.5-2-1.8-3.3c-0.8-3.7,1.4-7.3,5.1-8.1c0.8-0.2,1.5-0.2,2.2-0.1 c0.3-3.4,2.4-6.5,5.5-8c-0.9-0.3-1.9-0.5-3-0.5c-4.3,0-8,2.8-9.3,6.8c-0.7-0.2-1.4-0.4-2.2-0.4c-3.7,0-6.7,3-6.7,6.8 c0,3.8,3,6.8,6.7,6.8c0,0,0,0,0,0v0H19.2z"/>
</symbol>
</defs></svg><svg><use xlink:href="#app-service"></use></svg></p>
<h2><a href="https://azure.microsoft.com//ja-jp/services/app-service/">App Service</a></h2>
</div>
<div class="solution-item__body">
<p>Azure App Service を使用すると、独自のクラウド サービスを利用してより短時間でのアプリ作成が可能になります。On Linux および、サーバーレスでアプリ連携ができる Azure Functions をすぐに動かすことが可能です。</p>
</div>
</div>
<div class="solution-list__item solution-item">
<div class="solution-item__head">
<p class="icon"><svg style="display:none; visibility:hidden;"><defs><symbol id="notification-hubs" viewBox="0 0 50 50">
<path fill="#0072C6" d="M13.7,27.8v5.4L1,22.4h49l0-16.2C50,2.6,47,0,43.4,0H6.3C2.6,0,0,2.2,0,5.9v5.9h36.6V6.4l12.7,10.8H0v14.9 c0,3.7,2.7,7,6.3,7l13.4,0l11,10.8l0.1-10.8h12.5c3.7,0,6.7-2.9,6.7-6.6l0-4.8H13.7z"/>
<g opacity="0.2">
<path fill="#FFFFFF" d="M6.3,39.2h9.7l5.7-11.3h-8.1v5.4L1,22.4h23.3l2.8-5.2H0v14.9C0,35.8,2.7,39.1,6.3,39.2z"/>
<path fill="#FFFFFF" d="M35.6,0H6.3C2.6,0,0,2.2,0,5.9v5.9h29.7L35.6,0z"/>
</g>
</symbol>
</defs></svg><svg><use xlink:href="#notification-hubs"></use></svg></p>
<h2><a href="https://azure.microsoft.com//ja-jp/services/notification-hubs/">Notification Hubs</a></h2>
</div>
<div class="solution-item__body">
<p>毎月最大 100 万通のプッシュ通知を無料で送信することで、一度に数百万のユーザーにブロードキャストできます。また、個々のユーザーに応じてカスタマイズすることも可能です。</p>
</div>
</div>
<div class="solution-list__item solution-item">
<div class="solution-item__head">
<p class="icon"><svg style="display:none; visibility:hidden;"><defs><symbol id="mobile-engagement" viewBox="0 0 50 50">
<path fill="#3E3E3E" d="M42.4,47c0,1.7-1.3,3-3,3H11c-1.7,0-3-1.3-3-3V3c0-1.7,1.3-3,3-3h28.4c1.7,0,3,1.3,3,3V47z"/>
<rect x="10.2" y="5" fill="#59B4D9" width="30" height="35.2"/>
<path fill="#FFFFFF" d="M28.1,45.1c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9 C26.8,42.2,28.1,43.5,28.1,45.1"/>
<path fill="#B8D432" d="M27.1,45.1c0,1-0.8,1.9-1.9,1.9c-1,0-1.9-0.8-1.9-1.9s0.8-1.9,1.9-1.9C26.3,43.2,27.1,44.1,27.1,45.1"/>
<path opacity="0.15" fill="#FFFFFF" enable-background="new    " d="M10.2,40.2V5H33l2-5H11C9.3,0,8,1.3,8,3v44c0,1.7,1.3,3,3,3h3.7 l4-9.8H10.2z"/>
<path fill="#1E1E1E" d="M30.3,2.8c0,0.4-0.3,0.7-0.7,0.7h-8.7c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7h8.7C30,2.1,30.3,2.4,30.3,2.8 "/>
<path fill="#FFFFFF" d="M30.3,2.8c0,0.4-0.3,0.7-0.7,0.7h-8.7c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7h8.7C30,2.1,30.3,2.4,30.3,2.8 "/>
<rect x="13.3" y="32.3" opacity="0.75" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="6" height="6"/>
<rect x="22" y="27.8" opacity="0.75" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="6" height="10.5"/>
<rect x="30.7" y="23.3" opacity="0.75" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="6" height="15"/>
<path opacity="0.75" fill="#FFFFFF" d="M33.9,7H16.1c-1.6,0-2.8,1.3-2.8,2.8v8.6c0,1.6,1.3,2.8,2.8,2.8h3.5v3.7l3.7-3.7h10.6 c1.6,0,2.8-1.3,2.8-2.8V9.8C36.7,8.3,35.5,7,33.9,7z"/>
</symbol>
</defs></svg><svg><use xlink:href="#mobile-engagement"></use></svg></p>
<h2><a href="https://azure.microsoft.com//ja-jp/services/mobile-engagement/">Mobile Engagement</a></h2>
</div>
<div class="solution-item__body">
<p>データ主導のユーザー エンゲージメント プラットフォームで毎月最大 100 人のアクティブなユーザーを無料で登録すれば、モバイル アプリの使用量と収益を最大限に高めることができます。</p>
</div>
</div>
<div class="solution-list__item solution-item">
<div class="solution-item__head">
<p class="icon"><svg style="display:none; visibility:hidden;"><defs><symbol id="search" viewBox="0 0 50 50">
<path fill="#59B4D9" d="M44,14.2c0-0.4,0.1-0.9,0.1-1.3c0-7.1-5.8-12.8-13-12.8C26.9,0,23,2,20.6,5.3c-1.5-1-3.3-1.5-5.2-1.5 c-5.4,0-9.8,4.4-9.8,9.7l0,0.8C2,16.2,0,19.3,0,23.1c0,6,4.9,10.7,11.2,10.7h27.6c6.3,0,11.2-4.7,11.2-10.7 C50,19.1,47.8,15.9,44,14.2z"/>
<path opacity="0.2" fill="#FFFFFF" d="M7,28c0-4.1,2.1-7.3,6-9.3l0-0.8c0-5.7,4.7-10.3,10.4-10.3c2,0,3.9,0.5,5.5,1.5 c2.5-3.5,6.7-5.7,11.2-5.7c0,0,0,0,0,0C37.7,1.3,34.6,0,31.1,0C26.9,0,23,2,20.6,5.3c-1.5-1-3.3-1.5-5.2-1.5c-5.4,0-9.8,4.4-9.8,9.7 l0,0.8C2,16.2,0,19.3,0,23.1c0,5.1,3.5,9.3,8.4,10.4C7.5,31.9,7,30,7,28z"/>
<path fill="#FFFFFF" d="M34.3,31c-1,3.9-4.4,6.6-8.4,6.6c-0.7,0-1.4-0.1-2.1-0.3c-1-0.3-2-0.7-2.8-1.3c-0.9-0.6-1.6-1.4-2.2-2.2 c-1.3-2-1.9-4.4-1.3-6.9c1-3.9,4.4-6.6,8.4-6.6c0.7,0,1.4,0.1,2.1,0.3c2.2,0.6,4.1,1.9,5.3,3.9C34.5,26.4,34.9,28.8,34.3,31"/>
<path opacity="0.1" fill="#59B4D9" d="M34.3,31c-1,3.9-4.4,6.6-8.4,6.6c-0.7,0-1.4-0.1-2.1-0.3c-1-0.3-2-0.7-2.8-1.3 c-0.9-0.6-1.6-1.4-2.2-2.2c-1.3-2-1.9-4.4-1.3-6.9c1-3.9,4.4-6.6,8.4-6.6c0.7,0,1.4,0.1,2.1,0.3c2.2,0.6,4.1,1.9,5.3,3.9 C34.5,26.4,34.9,28.8,34.3,31"/>
<path opacity="0.3" fill="#59B4D9" d="M30.6,21.7c-0.8-0.5-1.7-0.9-2.6-1.1c-0.7-0.2-1.4-0.3-2.1-0.3c-4,0-7.4,2.7-8.4,6.6 c-0.6,2.5-0.1,5,1.3,6.9c0.2,0.3,0.5,0.7,0.8,1C21.4,29.1,25.4,24.4,30.6,21.7"/>
<path fill="#3E3E3E" d="M36.5,22.6c-1.7-2.8-4.4-4.8-7.6-5.6c-1-0.2-2-0.4-3-0.4c-5.7,0-10.6,3.9-12,9.4c-0.8,3.1-0.3,6.3,1.3,9.1 l-9.4,9.5c-1.2,1.2-1.2,3.3,0,4.5C6.5,49.7,7.3,50,8.1,50c0.8,0,1.6-0.3,2.3-0.9l9.4-9.5c1,0.6,2.1,1,3.2,1.3c1,0.2,2,0.4,3,0.4 c5.7,0,10.6-3.9,12-9.4C38.7,28.7,38.2,25.4,36.5,22.6z M34.3,31c-1,3.9-4.4,6.6-8.4,6.6c-0.7,0-1.4-0.1-2.1-0.3 c-1-0.3-2-0.7-2.8-1.3c-0.9-0.6-1.6-1.4-2.2-2.2c-1.3-2-1.9-4.4-1.3-6.9c1-3.9,4.4-6.6,8.4-6.6c0.7,0,1.4,0.1,2.1,0.3 c2.2,0.6,4.1,1.9,5.3,3.9C34.5,26.5,34.9,28.8,34.3,31z"/>
<path opacity="0.5" fill="#1E1E1E" d="M18.9,39.1c-1.3-0.9-2.3-1.9-3.2-3.2c-0.2-0.3-0.3-0.5-0.5-0.8L14.4,36l-0.1,0.1 c0.1,0.2,0.2,0.4,0.4,0.6c1,1.4,2.1,2.6,3.5,3.6c0.1,0.1,0.4,0.2,0.7,0.3l0.9-0.9C19.4,39.4,19.2,39.3,18.9,39.1z"/>
</symbol>
</defs></svg><svg><use xlink:href="#search"></use></svg></p>
<h2><a href="https://azure.microsoft.com//ja-jp/services/search/">Search</a></h2>
</div>
<div class="solution-item__body">
<p>高度な検索機能を Web およびモバイル アプリに追加したり、最初のドキュメント 1 万個をホストしたりすることができます。</p>
</div>
</div>
<div class="solution-list__item solution-item">
<div class="solution-item__head">
<p class="icon"><svg style="display:none; visibility:hidden;"><defs><symbol id="machine-learning" viewBox="0 0 50 50">
<path fill="#59B4D9" d="M48.288,44.623L32.72,17.659V6.743h0.281c1.862,0,3.372-1.51,3.372-3.372S34.863,0,33.001,0H16.016 c-1.862,0-3.372,1.51-3.372,3.372s1.51,3.372,3.372,3.372h0.281v10.915L0.729,44.623C-0.979,47.58,0.418,50,3.833,50h41.351 C48.598,50,49.995,47.58,48.288,44.623z"/>
<polygon fill="#B8D432" points="13.551,33.017 7.127,44.143 41.889,44.143 35.466,33.017 "/>
<path fill="#7FBA00" d="M25.334,37.532c1.735,0,3.141-1.406,3.141-3.141c0-0.493-0.117-0.958-0.32-1.374h-5.643 c-0.203,0.415-0.32,0.88-0.32,1.374C22.193,36.126,23.599,37.532,25.334,37.532z"/>
<circle fill="#7FBA00" cx="29.232" cy="39.956" r="1.541"/>
<path opacity="0.25" fill="#FFFFFF" d="M0.729,44.623l15.568-26.965V6.743h-0.281c-1.862,0-3.372-1.51-3.372-3.372 S14.153,0,16.016,0l7.319,0v17.572L15.13,50H3.833C0.418,50-0.979,47.58,0.729,44.623z"/>
</symbol>
</defs></svg><svg><use xlink:href="#machine-learning"></use></svg></p>
<h2><a href="https://azure.microsoft.com//ja-jp/services/machine-learning/">Machine Learning</a></h2>
</div>
<div class="solution-item__body">
<p>機械学習の実験を作成すれば、クラウドでの高度な分析ソリューションの構築を今すぐ始められます。</p>
</div>
</div>
<div class="solution-list__item solution-item">
<div class="solution-item__head">
<p class="icon"><svg style="display:none; visibility:hidden;"><defs><symbol id="data-factory" viewBox="0 0 50 50">
<path fill="#59B4D9" d="M49.9,29.5L49.9,29.5V17.4L36.2,29.3h-0.3V17.4L22.2,29.3l0,0V4.4c0-2.1-4.7-4.2-10.9-4.2 C5.1,0.2,0,2.2,0,4.4V50h50L49.9,29.5z M11.3,6.4c-4.5,0-8.1-1.1-8.1-2.3s3.6-2.3,8.1-2.3s8.1,1,8.1,2.3C19.3,5.3,15.7,6.4,11.3,6.4 z M34.9,41.9h-5.5v-5.5h5.5V41.9z M25.2,41.9h-5.5v-5.5h5.5V41.9z M39.2,41.9v-5.5h5.5v5.5H39.2z"/>
<rect x="0" y="4.1" fill="#3999C6" width="11.1" height="45.9"/>
<path fill="#FFFFFF" d="M22.1,4.1c0,2.2-5,4-11.1,4S0,6.3,0,4.1c0-2.2,5-4,11.1-4S22.1,1.8,22.1,4.1"/>
<path fill="#7FBA00" d="M19.9,3.8c0,1.5-3.9,2.6-8.8,2.6S2.3,5.3,2.3,3.8c0-1.5,3.9-2.6,8.8-2.6S19.9,2.4,19.9,3.8"/>
<path fill="#B8D432" d="M18,5.4c1.2-0.4,1.8-1,1.8-1.6c0-1.5-3.9-2.6-8.8-2.6c-4.9,0-8.8,1.2-8.8,2.6C2.3,4.4,3,5,4.1,5.4 c1.6-0.6,4.1-1,7-1C13.9,4.4,16.4,4.8,18,5.4"/>
</symbol>
</defs></svg><svg><use xlink:href="#data-factory"></use></svg></p>
<h2><a href="https://azure.microsoft.com//ja-jp/services/data-factory/">Data Factory</a></h2>
</div>
<div class="solution-item__body">
<p>毎月最大 5 個の無料アクティビティを利用して、さまざまな変換サービスやデータ ソースのデータ パイプラインを調整および管理できます。</p>
</div>
</div>
<div class="solution-list__item solution-item">
<div class="solution-item__head">
<p class="icon"><svg style="display:none; visibility:hidden;"><defs><symbol id="data-catalog" viewBox="0 0 50 50">
<path fill="#0072C6" d="M36.7,35.7h1.6V0H9.1H7C6,0.1,3.9,2.6,3.9,2.9c0,0.1,0,34.5,0,34.5c0,1,0.8,1.9,1.9,1.9h28.5v-0.6L36.7,35.7 z"/>
<path fill="#E5E5E5" d="M8.4,1.6c-0.9,0-1.2,0.1-2,0.8C4.7,3.9,6.8,3.9,7.6,3.9h26.7v34.8l2.4-3.1V1.6H8.4z"/>
<polygon opacity="0.5" fill="#A0A1A2" enable-background="new    " points="34.3,38.7 36.7,35.7 36.7,1.6 34.3,3.9 "/>
<path fill="#A0A1A2" d="M8.4,21.2c0,0.8-0.6,1.4-1.4,1.4H2.4C1.6,22.6,1,22,1,21.2l0,0c0-0.8,0.6-1.4,1.4-1.4H7 C7.8,19.7,8.4,20.4,8.4,21.2L8.4,21.2z"/>
<path fill="#A0A1A2" d="M8.4,10.9c0,0.8-0.6,1.4-1.4,1.4H2.4c-0.8,0-1.4-0.6-1.4-1.4l0,0c0-0.8,0.6-1.4,1.4-1.4H7 C7.8,9.5,8.4,10.2,8.4,10.9L8.4,10.9z"/>
<path fill="#A0A1A2" d="M8.4,31.4c0,0.8-0.6,1.4-1.4,1.4H2.4c-0.8,0-1.4-0.6-1.4-1.4l0,0C1,30.6,1.6,30,2.4,30H7 C7.8,30,8.4,30.6,8.4,31.4L8.4,31.4z"/>
<path fill="#3999C6" d="M23.6,22.2v23.5c0,2.4,5.5,4.4,12.2,4.4v-28H23.6z"/>
<path fill="#59B4D9" d="M35.6,50.2h0.2c6.7,0,12.2-2,12.2-4.4V22.2H35.6V50.2z"/>
<path fill="#FFFFFF" d="M48,22.2c0,2.4-5.5,4.4-12.2,4.4s-12.2-2-12.2-4.4c0-2.4,5.5-4.4,12.2-4.4S48,19.8,48,22.2"/>
<path fill="#7FBA00" d="M45.5,21.9c0,1.6-4.4,2.9-9.7,2.9s-9.7-1.3-9.7-2.9c0-1.6,4.4-2.9,9.7-2.9S45.5,20.3,45.5,21.9"/>
<path fill="#B8D432" d="M43.5,23.7c1.3-0.5,2-1.1,2-1.8c0-1.6-4.4-2.9-9.7-2.9c-5.4,0-9.7,1.3-9.7,2.9c0,0.7,0.8,1.3,2,1.8 c1.8-0.7,4.6-1.1,7.7-1.1C38.9,22.6,41.7,23,43.5,23.7"/>
</symbol>
</defs></svg><svg><use xlink:href="#data-catalog"></use></svg></p>
<h2><a href="https://azure.microsoft.com//ja-jp/services/data-catalog/">Data Catalog</a></h2>
</div>
<div class="solution-item__body">
<p>最大 50 人のユーザーをパワーアップして、最大 5 千個のデータ オブジェクトをカタログ内で検索できます。</p>
</div>
</div>
<div class="solution-list__item solution-item">
<div class="solution-item__head">
<p class="icon"><svg style="display:none; visibility:hidden;"><defs><symbol id="iot-hub" viewBox="0 0 32 32">
<circle fill="#0072c6" cx="13.4" cy="4.9" r="3.1"/>
<circle fill="#0072c6" cx="20.5" cy="14.9" r="3.7"/>
<circle fill="#0072c6" cx="26.7" cy="25.9" r="2.9"/>
<circle fill="#0072c6" cx="15.2" cy="23.9" r="2.5"/>
<circle fill="#0072c6" cx="5.1" cy="16.3" r="2.5"/>
<rect fill="#0072c6" x="10.7" y="9" transform="matrix(0.5751 0.8181 -0.8181 0.5751 15.1512 -9.6241)" width="12.3" height="1.6"/>
<rect fill="#0072c6" x="17.2" y="19.4" transform="matrix(0.4968 0.8679 -0.8679 0.4968 29.4089 -10.1933)" width="12.6" height="1.6"/>
<rect fill="#0072c6" x="11.9" y="7.9" transform="matrix(8.274771e-002 0.9966 -0.9966 8.274771e-002 27.1578 1.5262)" width="1.6" height="15.3"/>
<rect fill="#0072c6" x="16.9" y="14.1" transform="matrix(0.8565 0.5161 -0.5161 0.8565 12.5121 -6.3586)" width="1.6" height="10.4"/>
<path fill="#0072c6" d="M31.5,0h-8.1c-0.3,0-0.5,0.2-0.5,0.6v2.9c0,0.3,0.2,0.5,0.5,0.5H28v4.5C28,8.8,28.2,9,28.6,9h2.9 C31.8,9,32,8.8,32,8.5v-8C32,0.2,31.8,0,31.5,0z"/>
<path fill="#0072c6" d="M0.5,31.9h8.1c0.3,0,0.5-0.2,0.5-0.6v-2.9c0-0.3-0.2-0.5-0.5-0.5H4v-4.5c0-0.3-0.2-0.5-0.6-0.5H0.5 c-0.3,0-0.5,0.2-0.5,0.5l0,8C0,31.7,0.2,31.9,0.5,31.9z"/>
</symbol>
</defs></svg><svg><use xlink:href="#iot-hub"></use></svg></p>
<h2><a href="https://azure.microsoft.com//ja-jp/services/iot-hub/">Azure IoT Hub</a></h2>
</div>
<div class="solution-item__body">
<p>1 日あたり最大 3,000 件までのメッセージを無料で監視し、モノのインターネット (IoT) 対応のデバイスを最大で 10 台まで制御できます。</p>
</div>
</div>
<div class="solution-list__item solution-item">
<div class="solution-item__head">
<p class="icon"><svg style="display:none; visibility:hidden;"><defs><symbol id="visual-studio-team-services" viewBox="0 0 21 21">
<path fill="#7A4D87" d="M9.7,10L15,5.9v8.2L9.7,10z M2,13V7l3,3L2,13z M15,0L7.1,7.9L2,4L0,5v10l2,1l5.1-3.9L15,20l5-2V2L15,0z"/>
</symbol>
</defs></svg><svg><use xlink:href="#visual-studio-team-services"></use></svg></p>
<h2><a href="https://azure.microsoft.com//ja-jp/services/visual-studio-team-services/">Visual Studio Team Services</a></h2>
</div>
<div class="solution-item__body">
<p>さまざまなプラットフォームでソフトウェアを任意の言語で計画、ビルド、出荷し、最大 5 人のユーザーを無料で登録できます。</p>
</div>
</div>
<div class="solution-list__item solution-item">
<div class="solution-item__head">
<p class="icon"><svg style="display:none; visibility:hidden;"><defs><symbol id="application-insights" viewBox="0 0 50 50">
<path fill="#68217A" d="M41.4,14.7L41.4,14.7v-0.3c0-7.7-6.6-14.1-14.7-14.2c-0.2-0.3-4.8,0.1-4.8,0.1l0,0c-7.3,0.9-13,7-13,14.1 c0,0.2-0.8,5.8,4.9,10.5c2.6,2.3,5.3,8.5,5.7,10.3l0.3,0.6h10.6l0.3-0.6c0.4-1.8,3.2-8,5.7-10.2C42.1,20.2,41.4,14.9,41.4,14.7z"/>
<rect x="20" y="39.4" fill="#7A7A7A" width="10.6" height="3.4"/>
<polygon fill="#7A7A7A" points="23.3,50 27.2,50 30.5,46.5 20,46.5 "/>
<g opacity="0.65">
<path fill="#FFFFFF" d="M27.9,35.3h-2V22.6l-1.7,0v12.6h-2V22.6l-1.7,0c-2,0-3.7-1.7-3.7-3.7s1.6-3.7,3.7-3.7s3.7,1.7,3.7,3.7v1.7 l1.7,0v-1.7c0-2,1.7-3.7,3.7-3.7s3.7,1.7,3.7,3.7c0,2-1.7,3.7-3.7,3.7l-1.7,0V35.3z M20.5,17.2c-0.9,0-1.7,0.7-1.7,1.7 c0,0.9,0.8,1.7,1.7,1.7l1.7,0v-1.7C22.1,18,21.4,17.2,20.5,17.2z M29.6,17.2c-0.9,0-1.7,0.8-1.7,1.7v1.7l1.7,0 c0.9,0,1.7-0.8,1.7-1.7C31.3,18,30.6,17.2,29.6,17.2z"/>
</g>
<g opacity="0.15">
<path fill="#FFFFFF" d="M26.7,0.2c-0.2-0.3-4.8,0.1-4.8,0.1c-7.3,0.9-13,7-13,14.1c0,0.2-0.7,5.1,3.9,9.6L34.4,2.4 C32.1,1,29.5,0.2,26.7,0.2z"/>
</g>
</symbol>
</defs></svg><svg><use xlink:href="#application-insights"></use></svg></p>
<h2><a href="https://azure.microsoft.com//ja-jp/services/application-insights/">Visual Studio Application Insights</a></h2>
</div>
<div class="solution-item__body">
<p>ライブ アプリの使用状況とパフォーマンスを監視します。アプリを実行するホストやデバイスの数に制限はありません。</p>
</div>
</div>
<div class="solution-list__item solution-item">
<div class="solution-item__head">
<p class="icon"><svg style="display:none; visibility:hidden;"><defs><symbol id="log-analytics" viewBox="-1 -1 34 34">
<path fill="#0072c6" fill-rule="evenodd" clip-rule="evenodd" d="M4,19h2v-2l-2,0V19z M4,13h2v-1.8c-0.7,0.4-1.4,0.8-2,1.3V13z M7,25h2v-2l-2,0V25z M7,31h2v-2l-2,0V31z M7,22h2v-2l-2,0V22z M7,28h2v-2l-2,0V28z M4,25h2v-2l-2,0V25z M4,28h2v-2l-2,0V28z M1,22h2v-2l-2,0V22z M1,25h2v-2l-2,0V25z M1,19h2v-2l-2,0V19z M1.2,16H3v-2l-0.5,0C2,14.6,1.6,15.3,1.2,16z M4,29.5 c0.6,0.5,1.3,0.9,2,1.3V29l-2,0V29.5z M4,16h2v-2l-2,0V16z M19,28h0.5c0.5-0.6,0.9-1.3,1.3-2L19,26V28z M16,25h2v-2l-2,0V25z M16,30.8c0.7-0.4,1.4-0.8,2-1.3V29l-2,0V30.8z M16,28h2v-2l-2,0V28z M7,19h2v-2l-2,0V19z M20.5,1C14.7,1,10,5.7,10,11.5 c0,3.1,0,10.5,0,10.5s7.8,0,10.5,0C26.3,22,31,17.3,31,11.5S26.3,1,20.5,1z M17,16h-2v-6h2V16z M21,16h-2v-4h2V16z M25,16h-2V8h2 V16z M19,25h2v-2l-2,0V25z M7,13h2v-2l-2,0V13z M13,28h2v-2l-2,0V28z M10,28h2v-2l-2,0V28z M10,25h2v-2l-2,0V25z M13,31h2v-2l-2,0 V31z"/>
</symbol>
</defs></svg><svg><use xlink:href="#log-analytics"></use></svg></p>
<h2><a href="https://azure.microsoft.com//ja-jp/services/log-analytics/">Log Analytics</a></h2>
</div>
<div class="solution-item__body">
<p>毎月最大 500 MB のオペレーショナル データを IT 運用に関する実用的な知見に変換できます。</p>
</div>
</div>
<div class="solution-list__item solution-item">
<div class="solution-item__head">
<p class="icon">
<img src="assets/images/icon_data-lake.png" alt="">
</p>
<h2><a href="https://azure.microsoft.com//ja-jp/services/data-lake-store/">Data Lake</a></h2>
</div>
<div class="solution-item__body">
<p>Azure Data Lake を使用すると、運用分析や調査分析を目的として任意のサイズ、種類、および取り込み速度のデータを 1 か所でキャプチャすることができます。</p>
</div>
</div>
<div class="solution-list__item solution-item">
<div class="solution-item__head">
<p class="icon">
<img src="assets/images/icon_documentdb.png" alt="">
</p>
<h2><a href="https://azure.microsoft.com//ja-jp/services/documentdb/">DocumentDB</a></h2>
</div>
<div class="solution-item__body">
<p>可用性が高く、世界中に分散されたアプリのための NoSQL サービスでは、ドキュメント データとキー値データで SQL と JavaScript の機能を最大限に活用します。</p>
</div>
</div>
<div class="solution-list__item solution-item">
<div class="solution-item__head">
<p class="icon">
<img src="assets/images/icon_cognitive.png" alt="">
</p>
<h2><a href="https://azure.microsoft.com//ja-jp/services/cognitive-services/">Azure Cognitive Services</a></h2>
</div>
<div class="solution-item__body">
<p>機械ベースのインテリジェンスを活用してユーザー エクスペリエンスを高めるツールにより、やり取りを自然かつ状況に応じて行うことができるようなります。</p>
</div>
</div>
</div>
