<% var
pageTitle = "先進テクノロジー クラウド プラットフォーム";
pageId = "index";
pageUrl = "";
pageDescription = "";
pageKeywords = "";
%><% include _header %>
<div class="main-content" role="main">
  <div>
    <script src="https://www.microsoft.com/ja-jp/server-cloud/Scripts/heroTabsNewProductPage.js" type="text/javascript"></script>
    <link href="https://www.microsoft.com/ja-jp/server-cloud/Styles/heroTabsNewProductPage.css" rel="stylesheet" />

    <!-- begin stbHERO_ProductPage -->

    <a id="SolutionsPage_Comm"></a>
    <div class="stbHeroTabs_NewProductPage jp-Products">
      <div class="stbTabPanels">
        <section id="stbTabPanel-Overview" role="tabpanel" aria-hidden="true" aria-labelled="stbTabbedNav-Overview" class="stbTabPanel stbTabPanelActive ">
          <div class="stbTabPanelContent">

            <section class="l-section catch">
              <div class="l-section__inner">
                <div class="catch__text">
                  <h2 class="catch-title">
                    <span class="en">Azure</span> を利用した機械学習で、<br class="hide-sp">
                    データマイニングやベイズ分析をもっと身近に。<br class="hide-sp">
                    より正確なモデル構築で、収益機会を特定します。
                  </h2>
                  <p class="catch-desc">
                    超大規模なデータから記述しきれない判断を機会学習を活用することで、<br class="hide-sp">
                    モデルを構築し、意思決定に反映することが可能になります。<br class="hide-sp">
                    これによって、収益機会やリスクが明らかに。まずはトライヤルで始めてみませんか？
                  </p>
                </div>
                <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
              </div>
            </section>
            <section class="l-section example" id="example">
              <div class="l-section__inner is-s">
                <h3 class="example__headline headline is-center">導入事例</h3>
                <div class="example-contents">
                  <div class="example-contents__list example-list">
                    <a href="https://youtu.be/DUc7GUecmnU" class="example-list__item example-item" target="_blank">
                      <span class="example-item__name"><span>Jet.com</span></span>
                      <span class="example-item__body">E-commerce の分野において革新的な活躍をみせている Marc Lore 氏率いる Jet.com. その成長著しい巨大なオンラインマーケットのプラットフォームの開発から実装までを Microsoft Azure の  .NET とオープンソース技術が支えている。</span>
                    </a>
                    <a href="https://www.microsoft.com/ja-jp/casestudies/tritrue.aspx" class="example-list__item example-item" target="_blank">
                      <span class="example-item__name"><span>Tritrue</span></span>
                      <span class="example-item__body">技術論文を参考に Google にはない「場所＋目的」のGo サーチ エンジンを Azure を使って開発。インフラ面は Azure に任せてエンジニアはアプリケーション開発に専念。Azure 上で NoSQL データベース Apache Cassandra を使って大規模分散処理を数多くの実績を参考に実現。</span>
                    </a>
                    <a href="https://www.youtube.com/watch?v=LwQgmZrQO0o" class="example-list__item example-item" target="_blank">
                      <span class="example-item__name"><span>Live Like</span></span>
                      <span class="example-item__body">スポーツ観戦用のVRアプリのストリーミング用のバックエンドに、 Microsoft Azure を利用。Azure Marketplace を利用して、厳しいCDN要件に対処。アプリ開発には Unity、その他 C# 、 .NET 、 Visual Stadio などを社内の開発環境で利用可能。</span>
                    </a>
                    <a href="https://news.microsoft.com/ja-jp/2014/11/19/2014-73/#sm.00012y9jj09tqerkqwd1jcdkes450#mS0c2MT0qfVw3F61.97" class="example-list__item example-item" target="_blank">
                      <span class="example-item__name"><span>Real Madrid</span></span>
                      <span class="example-item__body">スペインのサッカーチーム Real Madridは、Microsoft Cloud と Office 365 のプラットフォームによって、数万人に及ぶのファンとのオンライン上のエンゲージメント、メディアの拡張、アプリ開発、ビジネスモデルの変革などの様々な活動を実現した。</span>
                    </a>
                    <a href="https://azure.microsoft.com/en-us/blog/canadian-broadcasting-corporation-radio-canada-leverage-azure-for-smooth-election-coverage/" class="example-list__item example-item" target="_blank">
                      <span class="example-item__name"><span>Canadian Broadcasting Corporation</span></span>
                      <span class="example-item__body">CBC/Radio-Canada は、2016年10月にカナダ新政府選挙の結果報道のためのクラウドパートナーとして、Azure を起用。Azure Apps Service Environment により異なる地域、言語に対応し、安定性の優れたローディングを可能にしたことで、6時間のうちに15億回のアクセスリクエストに対応した。</span>
                    </a>
                  </div>
                  <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
                </div>
              </div>
            </section>
            <section class="l-section solution" id="solution">
              <div class="l-section__inner">
                <h3 class="solution__headline headline is-center"><span class="en">1</span>ヶ月間ここまで無料で試せる <span class="en">Micorosoft Azure</span></h3>
                <% include _solutions %>
                <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
              </div>
            </section>
            <section class="l-section tips" id="tips">
              <div class="l-section__inner is-s">
                <h3 class="tips__headline headline"><span class="en">Azure Tips</span> や技術情報</h3>
                <p class="tips__desc desc">
                  Azure は Windows だけのクラウドサービスではありません。<br class="hide-sp">
                  オープンソースを活用でき、Azure を使えば高機能なサービスを組み合わせて先進的なソリューションを素早く構築することが可能です。<br class="hide-sp">
                  最初は小さく始めてもビジネスとともに柔軟にワールド レベルのスケールに容易に拡大することもできます。<br class="hide-sp">
                  様々な活用 Tips が <a href="http://qiita.com/tags/Azure">Qiita</a> や <a href="http://stackoverflow.com/questions/tagged/azure">Stack Overflow</a> で公開されています。
                </p>
                <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
              </div>
            </section>
            <section class="l-section estimate" id="estimate">
              <div class="l-section__inner is-s">
                <h3 class="estimate__headline headline is-center">お見積の例</h3>
                <p class="estimate__desc desc is-strong">
                  本番利用環境を想定した Azure 利用サービス構成と費用例をサンプルとしてご用意いたしました。
                </p>
                <p class="estimate__desc desc">
                  ※お見積は東日本データセンターを利用した場合の 2016 年 8 月時点の MOSP (Microsoft Online Subscription Program) 価格です。<br>最新の価格は<a href="https://azure.microsoft.com/ja-jp/pricing/" target="_blank" class="ext">こちらのサイト</a>をご参照ください。<br>
                  ※月額料金は、1 か月 744 時間換算でお見積をしています。小数点以下は切り上げとなります。<br>
                  ※購入形態により価格が安くなる場合があります。購入オプションは<a href="https://azure.microsoft.com/ja-jp/pricing/purchase-options/" target="_blank" class="ext">こちら</a>をご参照ください。
                </p>
                <p class="estimate__desc desc is-attention">
                  月額&yen;30,600 のサポート オプションに加入することで、24 時間 365 日体制のテクニカル サポートが無制限受けられます。
                </p>
                <% include _estimate %>
              </div>
            </section>
            <section class="l-section security" id="security">
              <div class="l-section__inner">
                <h3 class="security__headline headline">目に見える世界最高基準のセキュリティ</h3>
                <p class="security__desc desc">
                  セキュリティとプライバシーは Azure の開発に組み込まれています。業界最高のセキュリティ手段とプライバシー ポリシーを開発し、国際的なコンプライアンス プログラムに参加しています。他のクラウド プロバイダーを上回る認定を受けています。<a href="https://azure.microsoft.com/ja-jp/support/trust-center/" target="_blank">詳しくはこちら。</a>
                </p>
                <% include _security %>
                <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
              </div>
            </section>
            <section class="l-section step">
              <div class="l-section__inner">
                <h3 class="step__headline headline"><span class="en">5</span> 分で Azure の<br class="show-sp">無料アカウントを取得</h3>
                <ul class="step__list step-list">
                  <li class="step-list__item step-item">
                    <h5 class="step-item__title">
                      <span class="step-num">STEP 1</span>
                      <span class="step-title"><span class="en">Micorosoft Azure</span> サインアップ</span>
                    </h5>
                    <p class="step-item__body">個人情報の入力、本人確認の為の携帯電話確認、支払情報と勤務先情報を入力ください。</p>
                    <p class="step-item__note">※Microsoftアカウントをお持ちでない方は登録をお願いします。</p>
                  </li>
                  <li class="step-list__item step-item">
                    <h5 class="step-item__title">
                      <span class="step-num">STEP 2</span>
                      <span class="step-title"><span class="en">Micorosoft Azure</span> ツアー</span>
                    </h5>
                    <p class="step-item__body">サブスクリプション画面からポータルアイコンをクリックするとAzureコンソールの操作方法についての説明が表示されます。</p>
                  </li>
                  <li class="step-list__item step-item">
                    <h5 class="step-item__title">
                      <span class="step-num">STEP 3</span>
                      <span class="step-title">サインアップ</span>
                    </h5>
                    <p class="step-item__body">Microsoftアカウントのサインイン情報を入力して、サインインを完了すると、すべてのMicrosoft Azureのサービスが利用可能です。</p>
                  </li>
                </ul>
                <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
              </div>
            </section>
            <section class="l-section trial" id="trial">
              <div class="l-section__inner">
                <h3 class="trial__headline headline is-center">無料の <span class="en">Azure</span> アカウントを<br class="show-sp">今すぐ作成しましょう</h3>
                <h3 class="trial__desc desc">各種 Azure サービスを確かめてください。<br class="show-sp">まずは無料でスタート。</h3>
                <p class="trial__note">
                  &yen;20,500 のクレジット付きで始められて、<br class="hide-sp">
                  試用期間後も一部オプションを無料で引き続き使えます。
                </p>
                <div class="trial__list trial-list">
                  <div class="trial-list__item trial-item">
                    <p class="trial-item__icon"><img src="assets/images/icon_list01.png" alt=""></p>
                    <p class="trial-item__body">
                      1 か月に最大で 14 台までの仮想マシン、40 個までの SQL データベース、<br class="hide-sp">
                      または 8TB までのストレージをプロビジョニングできます。
                    </p>
                  </div>
                  <div class="trial-list__item trial-item">
                    <p class="trial-item__icon"><img src="assets/images/icon_list02.png" alt=""></p>
                    <p class="trial-item__body">
                      Redis Cache や Search、Content Delivery Network を使用する<br class="hide-sp">
                      Web アプリ、モバイル アプリ、API アプリを作成できます。
                    </p>
                  </div>
                  <div class="trial-list__item trial-item">
                    <p class="trial-item__icon"><img src="assets/images/icon_list03.png" alt=""></p>
                    <p class="trial-item__body">
                      Machine Learning、Streaming Analytics、Hadoop を使って<br class="hide-sp">
                      ビッグ データを活用できます。
                    </p>
                  </div>
                  <div class="trial-list__item trial-item">
                    <p class="trial-item__icon"><img src="assets/images/icon_list04.png" alt=""></p>
                    <p class="trial-item__body">
                      監視機能と異常検出機能を備えたリアルタイムのモノの<br class="hide-sp">
                      インターネット ( IoT ) アプリを作成できます。
                    </p>
                  </div>
                  <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
                </div>
              </div>
            </section>

            <!-- end stbHERO_ProductPage -->

<% include _footer %>
