// Button

// input[type="submit"],
// input[type="reset"],
// input[type="button"],
// button,
.button {
  position: relative;
  display: block;
  margin: 60px auto 0;
  padding: 0;
  width: 320px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  font-size: 18px;
  background-color: #e81123;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: all .2s;

  @media #{$mq-sm} {
    width: 100%;
    margin: 30px auto 0;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
  }

  &:link,
  &:visited {
    color: #fff;
    text-decoration: none;
  }

  &:hover {
    background-color: $color-btn-hover;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;
  }

  &::before,
  &:before {
    right: 20px;
    width: 14px;
    height: 14px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
  }
}
