.slider-wrapper {
}

.slider {
  width: 100%;

  &__item {
    width: 100%;
  }
}

.slick-slider {
}

.slick-arrow {

  @media #{$mq-sm} {
  }

  &.slick-prev {

    @media #{$mq-lg} {
    }

    @media #{$mq-md} {
    }

    @media #{$mq-sm} {
    }
  }

  &.slick-next {

    @media #{$mq-lg} {
    }

    @media #{$mq-md} {
    }

    @media #{$mq-sm} {
    }
  }
}

.slick-dots {
  $sz: 8px;
  // position: absolute;
  // z-index: 1001;
  // bottom: 38px;
  // left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 29px 0;
  height: 66px;
  // height: 8px;
  // transform: translateX(-50%);

  @media #{$mq-sm} {
    // padding: 16px 0;
    height: 40px;
  }

  > li {
    display: inline-block;
    width: $sz;
    height: $sz;

    + li {
      margin-left: $sz;
    }

    button {
      overflow: hidden;
      display: block;
      width: $sz;
      height: $sz;
      padding: 0;
      border: 0;
      background: #808080;
      border-radius: 50%;
      text-indent: -9999px;
      outline: 0;
      appearance: none;
      cursor: pointer;
    }

    &.slick-active {

      button {
        background: #fff;
      }
    }
  }
}
