.main-content {
  padding-top: 150px;

  @media #{$mq-sm} {
    padding-top: 180px;
  }
}

.l-section {
  padding: 60px 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;

  @media #{$mq-sm} {
    padding: 30px 0;
    // height: auto;
    // min-height: 320px;
  }

  &__inner {
    margin: 0 auto;
    padding: 0 15px;
    max-width: $content-width-pc;

    @media #{$mq-sm} {
    }

    &.is-s {
      max-width: $content-width-pc-s;
    }
  }
}

.catch {
  padding: 80px 0;
  background: url(../images/kv_pc.jpg) 50% 50%/cover no-repeat;
  color: #fff;

  @media #{$mq-sm} {
    padding: 50px 0;
    background-image: url(../images/kv_sp.jpg);
  }

  &__text {

    .catch-title {
      line-height: 1.375;
      @include fz(42);
      font-weight: normal;
      letter-spacing: .02em;

      @media #{$mq-sm} {
        @include fz(24);
      }

      .en {
        font-size: 1.14em;
        letter-spacing: 0;
      }
    }

    .catch-desc {
      margin-top: 35px;
      @include fz(18);
      letter-spacing: .01em;

      @media #{$mq-sm} {
        margin-top: 15px;
        @include fz(14);
      }
    }
  }
}

.headline {
  @include fz(28);
  font-weight: normal;
  letter-spacing: .02em;

  @media #{$mq-sm} {
    font-size: 20px;
  }

  &.is-center {
    text-align: center;
  }

  .en {
    font-size: 1.1em;
    letter-spacing: 0;
  }
}

.desc {
  margin-top: 25px;
  @include fz(16);

  @media #{$mq-sm} {
    margin-top: 15px;
    @include fz(14);
  }

  &.is-strong {
    font-weight: bold;
  }

  &.is-attention {
    font-weight: bold;
    color: #c33;
  }

  + .desc {
    margin-top: .5em;
  }

  a {
    color: $color-key;
    text-decoration: underline;
  }
}

.tips {
  background: $color-accent;
  color: #fff;

  &__headline {

  }

  &__desc {

    a {
      font-weight: bold;
      text-decoration: underline;
      color: #fff;

      &:link, &:visited {
        text-decoration: underline;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .button {
    margin-top: 40px;

    @media #{$mq-sm} {
      margin-top: 25px;
    }
  }
}

.example {
  background: url(../images/bg_example_pc.jpg) 0 0 repeat;

  @media #{$mq-sm} {
  }

  &__headline {
    // color: #fff;
  }

  &__desc {

  }
}

.example-contents {
  margin-top: 52px;

  @media #{$mq-sm} {
    margin-top: 30px;
  }

  &__list {
    margin-top: 30px;
  }
}

.example-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -48px;
  margin-left: -24px;
  margin-right: -24px;

  @media #{$mq-sm} {
    flex-direction: column;
    margin: 0;
  }

  &__item {
    margin-top: 48px;

    @media #{$mq-sm} {
      margin-top: 0;
    }

    &:not(:first-child) {

      @media #{$mq-sm} {
        margin-top: 20px;
      }
    }
  }
}

.example-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  padding: 25px 25px 50px;
  width: 298px;
  background: #fff;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .08);
  color: $color-base;

  @media #{$mq-sm} {
    margin-left: 0;
    margin-right: 0;
    padding: 15px;
    width: 100%;
  }

  &:link,
  &:visited,
  &:hover {
    color: $color-base;
    text-decoration: none;
  }

  &__name {
    display: table;
    width: 100%;
    min-height: 80px;
    line-height: 1.25;
    @include fz(16);
    font-weight: bold;

    @media #{$mq-sm} {
      padding-top: 15px;
      min-height: 0;
      @include fz(18);
    }

    > span {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }
  }

  &__body {
    display: block;
    margin-top: 25px;
    width: 100%;
    @include fz(14);
  }
}

.solution {
  background: #fff;

  &__headline {
    line-height: 1.375;

    &.is-center {
      text-align: left;
    }
  }

  &__list {

  }
}

.solution-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -12px -15px 0 -15px;

  &__item {
    margin-top: 60px;
    padding: 0 15px;
    width: 25%;

    @media #{$mq-sm} {
      margin-top: 28px;
      width: 100%;
    }
  }
}

.solution-item {
  // @include cf;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__head {
    display: table;
    width: 100%;

    @media #{$mq-sm} {
      display: block;
    }

    .icon {
      width: 48px;
      max-width: 100%;
      height: 48px;
      line-height: 0;
      vertical-align: bottom;

      @media #{$mq-sm} {
        display: block;
        text-align: left;
      }

      svg {
        width: 100%;
        height: 100%;
        pointer-events: none;
      }

      img {
        display: block;
        margin: 0;
        width: 48px;
      }
    }

    h2 {
      display: table-cell;
      padding-left: 20px;
      line-height: 1.25;
      vertical-align: middle;
      font-size: 20px;
      font-weight: normal;
      color: #444;

      @media #{$mq-sm} {
        display: block;
        margin-top: 12px;
        padding-left: 0;
      }
    }
  }
  &__body {
    margin-top: 20px;
    @include fz(14);
    color: #444;

    @media #{$mq-sm} {
      margin-top: 10px;
    }
  }
}

.estimate {
  background: #eee;
}

// .estimate-contents .estimateWrapper { width:100%; max-width:994px; padding:40px 0px 50px 0px; margin:0px auto; }
.estimate-contents h2 {
  margin:10px 0px;
  padding:0px;
  color:#444;
  font-weight:bold;
  font-size:240%;
  text-align:center;
}
.estimate-contents h2:before {
  content:url(/japan/msbc/Express/solution/azure_soloit/images/arrow2.png);
  display:block;
  margin-bottom:10px;
}
.estimate-contents p {
  margin:10px 0px;
  padding:0px;
  text-align:left;
  @include fz(16);
}
.estimate-contents p.attention1 {
  padding:0px 0px 0px 5px;
  font-weight:bold;
  font-size:160%;
  border-left:solid 10px #005593;
}
.estimate-contents p.attention2 {
  font-weight:bold;
  color:#C33;
}
.estimate-contents ul {
  margin:0px;
  padding:0px;
}
.estimate-contents ul:before {
  content:'';
  display:block;
  clear:both;
  margin:20px 0px 0px 0px;
}
.estimate-contents ul li {
  margin:15px 0px 0px 0px;
  padding:10px;
  list-style-type:none;
  text-align:left;
  border-bottom:solid 1px #CCC;
}
.estimate-contents ul li:first-child {
  padding-top:25px;
  border-top:solid 1px #CCC;
}
.estimate-contents ul li:last-child {
  border-bottom:none;
}
.estimate-contents ul li:after {
  margin:0px 0px 15px 0px;
  clear:both;
  content:'';
  display:block;
}
.estimate-contents ul li h3 {
  margin:0px 0px 5px 0px;
  padding:0px;
  font-weight:bold;
  font-size:22px;
  color:#005593;
}
.estimate-contents ul li .estimatePartsWrapper {
  width:100%;
}
.estimate-contents ul li .estimatePartsWrapper .estimateParts {
  padding:10px 0px 10px 8px;
  float:left;
  width:139px;
  font-size:15px;

  @media #{$mq-sm} {
    padding: 10px;
    width: 50%;
  }
}
.estimate-contents ul li .estimatePartsWrapper .estimateParts img {
  padding:0;
  margin:0px auto;
  display:block;
}
.estimate-contents ul li .estimatePartsWrapper .estimateParts .estimatePartsTitle {
  min-height:2.5em;
  text-align:center;
  vertical-align:middle;
  line-height:110%;
}
.estimate-contents ul li .estimatePartsWrapper .estimateParts .estimatePartsTitle a {
  font-weight:bold;
  font-size:16px;
  color: $color-key;
}
.estimate-contents ul li .estimatePartsWrapper .estimateParts .h50 {
  height:50px;
}
.estimate-contents ul li .estimatePartsWrapper .estimateParts .estimatePartsBox {
  padding:0px 2px;
  background-color:#387;
  color:#FFF;
  border:solid 1px #285;
}
.estimate-contents ul li .estimatePartsWrapper .estimateParts .estimatePartsSmall {
  display:block;
  font-size:80%;
}
.estimate-contents ul li .estimatePartsWrapper .estimateParts .estimatePartsPrice {
  margin-top: .5em;
  text-align:center;
  width:100%;
}
.estimate-contents ul li .estimateTotal {
  margin:10px 0px 0px 0px;
  text-align:right;
  font-weight:bold;
  font-size:150%;
}
.estimate-contents a.btnMore {
  margin:20px auto 0px auto;
  width:490px;
}
.estimate-contents .estimateRightBox, .estimate-contents .estimateRightBox1 {
  float:right;
  padding-top:120px;
}
.estimate-contents .estimateRightBox1 {
  padding-top:20px;
}
.estimate-contents p.estimateDLHead {
  text-align: right;
  @include fz(12);
}
.estimate-contents p.estimateDL {
  margin:10px 0 0 auto;
  padding:5px;
  background-color:#005593;
  width:200px;
}
.estimate-contents p.estimateDL a {
  position:relative;
  margin:0px;
  padding:0px 0px 0px 25px;
  @include fz(15);
  color:#FFF;
  text-align:right;
  display:block;
}
.estimate-contents p.estimateDL a:before {
  content:url(../images/arrow6.png);
  position:absolute;
  left:0px;
}

.security-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media #{$mq-sm} {
    margin-top: 10px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    @media #{$mq-sm} {
      padding-top: 20px;
    }
  }
}

.step {
  background: #3e3d4d;

  &__headline {
    line-height: 1.25;
    color: #fff;
  }

  &__list {
    margin-top: 40px;
  }
}

.step-list {
  display: flex;
  justify-content: space-between;

  @media #{$mq-sm} {
    flex-direction: column;
    align-items: center;
  }

  &__item {
    float: left;
    width: 350px;
    max-width: calc(33.4% - 40px);

    @media #{$mq-sm} {
      max-width: none;
    }
  }
}

.step-item {
  position: relative;
  padding: 20px 30px;
  background: #fff;

  @media #{$mq-sm} {
    padding: 15px;
  }

  &:not(:first-child) {

    @media #{$mq-sm} {
      margin-top: 72px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -36px;
      display: block;
      margin-top: -22px;
      width: 17px;
      height: 44px;
      background: url(../images/icon_step_arrow_pc.png) 0 0 no-repeat;

      @media #{$mq-sm} {
        top: -45px;
        left: 50%;
        margin-top: 0;
        margin-left: -22px;
        width: 44px;
        height: 18px;
        background-image: url(../images/icon_step_arrow_sp.png);
        background-size: 100% auto;
      }
    }
  }

  &__title {

    .step-num {
      display: inline-block;
      padding: 0 15px;
      height: 24px;
      line-height: 24px;
      border-radius: 12px;
      background: $color-accent;
      @include fz(14);
      color: #fff;
      letter-spacing: .12em;
    }

    .step-title {
      display: block;
      margin-top: .5em;
      @include fz(18);
      font-weight: normal;
      letter-spacing: .02em;

      .en {
        font-size: 1.1em;
        letter-spacing: 0;
      }
    }
  }

  &__body {
    margin-top: 1em;
    @include fz(14);
  }

  &__note {
    margin-top: 1em;
    @include fz(12);
  }
}

.trial {
  background: url(../images/bg_trial_pc.jpg) center center/cover no-repeat;

  @media #{$mq-sm} {
    padding-bottom: 0;
    background-image: url(../images/bg_trial_sp.jpg);
  }

  &__headline {
    text-align: center;
    @include fz(34);
    font-weight: normal;
    color: #fff;

    @media #{$mq-sm} {
      font-size: 20px;
    }

    .en {
      font-size: 1.1em;
    }
  }

  &__desc {
    text-align: center;
    font-weight: normal;
    color: #fff;

    @media #{$mq-sm} {
      margin-top: 12px;
    }
  }

  &__note {
    padding: 20px;
    margin: 40px auto 0;
    width: 520px;
    text-align: center;
    border: solid 1px #fff;
    font-weight: bold;
    font-family: Meiryo, sans-serif;
    color: #fff;
    letter-spacing: .02em;

    @media #{$mq-sm} {
      margin-top: 30px;
      padding: 10px 15px;
      width: auto;
      text-align: left;
    }

    .en {
      font-size: 1.1em;
      letter-spacing: 0;
    }
  }

  &__list {
    margin: 40px auto 0;
    width: 720px;

    @media #{$mq-sm} {
      width: auto;
    }
  }
}

.trial-list {

  @media #{$mq-sm} {
    margin: 30px -15px 0;
    padding: 30px 15px;
    background: #303030;
  }

  &__item {
    color: #fff;

    &:not(:first-child) {
      margin-top: 10px;

      @media #{$mq-sm} {
        margin-top: 30px;
      }
    }
  }
}

.trial-item {
  @include cf;
  line-height: 1.25;
  @include fz(18);

  &__icon {
    float: left;
    display: block;
    width: 60px;
    text-align: center;

    @media #{$mq-sm} {
      width: 40px;
      height: 40px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__body {
    float: left;
    padding-top: .25em;
    padding-left: 12px;

    @media #{$mq-sm} {
      float: none;
      margin-left: 40px;
      padding-top: 0;
      @include fz(12);
    }
  }
}
